body {background-color: #FFE378}

.intro {border-style: solid;}

#photo1 {display: inline;
	height: 800px;
	width: 1420px;
}

.assignment {border-style: solid;
	margin: 2%;
	padding: 20px;
}

.text2 {font-size: 20px;
	display: inline;
	vertical-align: top;
}

#photo2 {display: inline;
	height: 200px;
	width: 200px;
	float: left;
	padding: 1%;
}

#photo3 {display: inline;
	height: 200px;
	width: 200px;
	float: left;
	padding: 1%;
}

#photo4 {display: inline;
	height: 200px;
	width: 200px;
	float: left;
	padding: 1%;
}

.outro {font-size: 20px;
	text-align: center;
}

